body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f9;
}

    header {
      background-color: var(--primary-color);
      /* padding: 10px; */
      margin: 10px;
      text-align: center;
      position: sticky;
      top: 0;
      z-index: 1000;/
    }
  
    header h1 {
      color: var(--secondary-color);
      margin: 0;
    }
  
    .nav-bar {
      display: flex;
      align-items: center;
          justify-content: space-between;
          padding: 10px 20px;
      background-color: var(--bg-secondary-color);
      color: var(--text-color);
      align-items: center;
  
    }
        .nav-bar {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 10px 20px;
          background-color: var(--bg-secondary-color);
          position: relative;
        }
  
    .nav-bar a {
      color: var(--text-color);
      text-decoration: none;
      margin: 0 15px;
      font-weight: bold;
    }
  
    .nav-btn:hover {
      background-color: rgba(204, 25, 25, 0.1);
      box-shadow: 0px 0px 14px 14px rgba(204, 25, 25, 0.1);
    }

.container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  width: 100%;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.box {
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px;
}

.box.dragover {
  border-color: #007bff;
  background-color: #e9f5ff;
}

.box span {
  display: block;
  margin-top: 10px;
  color: #666;
}

.submit {
  display: block;
  width: 100%;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

.submit:hover {
  background: #0056b3;
}

.output-format {
  margin-bottom: 20px;
}

.output-format label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.bottom {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.bottom a {
  color: #007bff;
  text-decoration: none;
}

.bottom a:hover {
  text-decoration: underline;
}

#file-name {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}