@import 'mocha.css';

* {
    background-image: none;
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
}

window {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
}

button {
    color: white;
    background-color: var(--surface0);
    outline-style: none;
    border: none;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s ease;
}

button:focus {
    background-color: var(--mauve);
    background-size: 30%;
    box-shadow: 0 0 10px var(--mauve);
}

button:hover {
    background-color: var(--mauve);
    background-size: 40%;
    border-radius: 50px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682);
    box-shadow: 0 0 15px var(--mauve);
    transform: scale(1.05);
}

button:hover#lock {
    border-radius: 50px;
    margin: 248px 0px 248px 302px;
}

button:hover#logout {
    border-radius: 50px;
    margin: 248px 0px 248px 0px;
}

button:hover#suspend {
    border-radius: 50px;
    margin: 248px 0px 248px 0px;
}

button:hover#shutdown {
    border-radius: 50px;
    margin: 248px 0px 248px 0px;
}

button:hover#reboot {
    border-radius: 50px;
    margin: 248px 302px 248px 0px;
}

#lock {
    background-image: image(url("icons/lock_black.png"), url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
    border-radius: 80px 0px 0px 80px;
    margin: 302px 0px 302px 302px;
}

#logout {
    background-image: image(url("icons/logout_black.png"), url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
    border-radius: 0px 0px 0px 0px;
    margin: 302px 0px 302px 0px;
}

#suspend {
    background-image: image(url("icons/suspend_black.png"), url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
    border-radius: 0px 0px 0px 0px;
    margin: 302px 0px 302px 0px;
}

#shutdown {
    background-image: image(url("icons/shutdown_black.png"), url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
    border-radius: 0px 0px 0px 0px;
    margin: 302px 0px 302px 0px;
}

#reboot {
    background-image: image(url("icons/reboot_black.png"), url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
    border-radius: 0px 80px 80px 0px;
    margin: 302px 302px 302px 0px;
}

/* Add keyframes for gradient animation */
@keyframes gradient_f {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}